@charset "utf-8";
/*
 * Proxima Nova fonts
 */
@font-face {
	font-family: ProximaNova;
	src:url(fonts/ProximaNova-Regular.otf);
}
@font-face {
	font-family: ProximaNova-Italic;
	src:url(fonts/ProximaNova-RegItalic.otf);
}
@font-face {
	font-family: ProximaNova-Light;
	src:url(fonts/ProximaNova-Light.otf);
}
@font-face {
	font-family: ProximaNova-Bold;
	src:url(fonts/ProximaNova-Extrabold.otf);
}

/*
 * Open Sans fonts
 */
@font-face {
	font-family: OpenSans;
	src:url(fonts/OpenSans-Regular.ttf);
}
@font-face {
	font-family: OpenSans;
	src:url(fonts/OpenSans-Bold.ttf);
	font-weight:bold;
}
@font-face {
	font-family: OpenSans;
	src:url(fonts/OpenSans-Italic.ttf);
	font-style:italic, oblique;
}
@font-face {
	font-family: OpenSans;
	src:url(fonts/OpenSans-BoldItalic.ttf);
	font-weight:bold;
	font-style:italic, oblique;
}

/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}

.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;        
}

/* Mobile Layout: 480px and below. */
/* 
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 86.45%;
	padding-left: 2.275%;
	padding-right: 2.275%;
	clear: none;
	float: none;
}
*/

.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
	clear: none;
	float: none;
	margin-left: auto;
}

#name {
	background-image:url(images/HeadIcon.png);
	background-repeat:no-repeat;
	background-position:50% 75px;
	background-size: 250px 250px;
	height:525px;
}

#nameContents {
	text-align:center;
	position:relative;
	top:325px;
}

#selfName {
	font-face:ProximaNova-Bold; 
	font-size:24pt;
}

#selfDescription {
	font-face:OpenSans; 
	font-size:16pt;
	font-weight:bold;
	color:#646262;
}

#selfLocation {
	font-face:ProximaNova-Italic; 
	font-size:14pt;
	font-style:italic;
}

.stat {
	width:110px;
	height:130px;
	border: solid #DBDBDB;
	border-width: 1px;
}

#stats tr {
	font-family:ProximaNova-Bold;
	border:solid #DBDBDB;
	border-width: 1px 0 0 0;
}

#stats td {
	text-align:center;
}

#Experience {
	border:solid #DBDBDB;
	border-width: 1px 0 0 1px;
}

.highlightText {
	font-face:ProximaNova-Italic; 
	font-size:24pt;
	font-style:italic;
}

.subHighlightText {
	font-face:ProximaNova-Italic; 
	font-size:10pt;
	font-style:italic;
}

.navLink {
	width:330px;
	font-size:16pt;
	font-weight:bold;
	padding-left:70px;
	padding-top:15px;
	padding-bottom:15px;
	background-color:#FAFAFA;
	transition: all 0.2s linear;
}
.navLink:hover {
	background-color:#F0F0F0;
	color:#000000;
}
#navigationBackground {
	position: fixed;
	float: left;
	left: 0px;
	width: 402px;
	height: 100%;
	background-color:#F0F0F0;
}

#navigation {
	/* Do not use fixed, I think... */
	/* Do not hide overflow... */
	position: absolute;
	float: left;
	left: 0px;
	width: 402px;
	background-color:#F0F0F0;
}

.active {
	background-color:#F0F0F0;
	color:#000000;
	padding-left:90px;
	width: 310px;
}

#navigation tr {
	font-family:ProximaNova-Bold;
	list-style-type:none;
	border: solid #DBDBDB;
	border-width: 1px 0 0 0;
	background-color:#F0F0F0;
	}
	
#navigation tr {
	font-family:ProximaNova-Bold;
	list-style-type:none;
	border: solid #DBDBDB;
	border-width: 1px 0 0 0;
	background-color:#F0F0F0;
	}
	
#navigation tr:first-child {
	font-family:ProximaNova-Bold;
	list-style-type:none;
	border: none
	}
	
#navigation a {
	color:#979495;
	text-decoration:none;
	}

.navCell {
	width:200px;
}

.icon {
	position:relative; 
	top:-2px; 
	left:-30px; 
	width: 30px; 
	opacity: 0.4; 
	filter: alpha(opacity=40);
}

.ContactIcon {
	position:relative; 
	top:-2px; 
	left:-10px; 
	width: 25px; 
	height: 25px;
	opacity: 0.4; 
	filter: alpha(opacity=40);
}

#contactContent {
	font-family:ProximaNova-Light;
	font-size:12pt;
}

#contactContent h1{
	font-family:ProximaNova-Bold;
	font-style:normal;
	font-size:14pt;
}

#contactContent {
	position:relative;
	left: 50px;
	width: 300px;
	padding-bottom:30px;
}

#contactContent li:hover {
	background-color:#FAFAFA;
	border-radius:5px;
	transition: background-color 0.2s linear;
}

#contactContent li {
	font-face:OpenSans; 
	font-size:12pt;
	font-weight:bold;
	color:#646262;
	padding-left: 10px;
	padding-top:8px;
	padding-bottom:5px;
}

.ContentPanel {
	position:absolute;
	left:450px;
	min-width:550px;
	margin-right: 200px;
}

::-webkit-scrollbar {
	display: none;
	width: 0px;
	background: transparent;
}

.ContentPanel h1 {
	font-family:ProximaNova-Bold;
	font-style:normal;
	font-size:22pt;
	padding: 20px 0 10px 0;
}

.ContentPanel h2 {
	font-family:ProximaNova-Bold;
	font-style:normal;
	font-size:18pt;
	color:#646262;
	padding: 40px 0 10px 0;
}

table#languages td {
	padding: 0 20px;
}

.Institution {
	width: 350px;
	display: inline-block;
	white-space: nowrap;
}

.Years {
	width: 150px;
	display: inline-block;
	white-space: nowrap;
}

.Institution div{
	font-family:ProximaNova-Bold;
	font-style:normal;
	font-size:18pt;
	width: 300px;
	margin: -6px 0 0 0;
}

.Years div{
	font-family:ProximaNova;
	font-style:normal;
	font-size:14pt;
	color:#979495;
	width: 200px;
	left: 400px;
}

.Project div{
	font-family:ProximaNova-Bold;
	font-style:normal;
	font-size:15pt;
	color:#646262;
	width: 350px;
}

.Position div{
	font-family:ProximaNova-Light;
	font-style:normal;
	font-size:15pt;
	color:#646262;
	width: 350px;
}

.Description {
	font-family:ProximaNova;
	font-size:12pt;
	color:#000000;
}

#Skills .Position{
	padding: 15px 0 0 0;
	list-style-type: none;
}

#Skills ul{
	margin: 5px;
	padding: 5px;
	list-style-type: none;
}

#Skills ul li {
	display: inline-block;
	background-color: #F0F0F0;
	color: #000000;
	margin: 10px 0 0 10px;
	padding: 5px 10px 5px 10px;
	-webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -border-radius: 20px;
    border-radius: 10px;
}

#Publications .Project div{
	width:100%;
}

.Layout {
}
.zeroMargin_mobile {
margin-left: 0;
}
/*
.hide_mobile {
display: none;
}
*/
.hide_tablet {
display: none;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {

.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
	clear: none;
	float: none;
	margin-left: auto;
}
	
.hide_tablet {
display: none;
}
.zeroMargin_tablet {
margin-left: 0;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {

.gridContainer {
	width: 88.5%;
	max-width: 1232px;
	padding-left: 0.75%;
	padding-right: 0.75%;
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
}
.Layout {
}
.zeroMargin_desktop {
margin-left: 0;
}
.hide_desktop {
display: none;
}
}
