body {
	color: white;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	background-color: #292621;
}

#mainframe {
	margin-top: 200px;
	padding: 5px;
	margin-right: auto;
	margin-left: auto;
	right: auto;
	left: auto;
	color: #B8A449;
	height: 400px;
	width: 800px;
}

#title {
	text-align: center;
	font-size: 50px;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	color: #395380;
	padding-bottom: 10px;
	padding-top: 15px;
	height: 50px;
	width: 800px;
}

#subtitle {
	text-align: center;
	font-size: 20px;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	color: #806639;
	padding-bottom: 10px;
	padding-top: 5px;
	height: 50px;
	width: 800px;
}

#textaboutme {
	margin-right: auto;
	margin-left: auto;
	font-family: Verdana, Arial, sans-serif;
	text-align: justify;
	line-height: 1.3em;
	font-size: 13px;
	color: #d9e5cd;
	width: 600px;
	height: auto;
}

#pictureofme {
	color: #d9e5cd;
	float: right;
	height: 200px;
	width: 390px;
}

#picture {
	float: right;
	padding: 5px;
	background-color: #bbffb5;
}

#links {
	margin-right: auto;
	margin-left: auto;
	color: #d9e5cd;
	height: 100px;
	width: 600px;
}

#boxlink-resume {
	margin-right: auto;
	margin-left: auto;
	background-repeat: no-repeat;
	background-image: url(images/download_final.png);
	height: 100px;
	width: 200px;
}

#boxlink-resume:hover {
	background-repeat: no-repeat;
	background-image: url(images/download_final_hover.png);
	border-width: 0px;
	border-right-style: dashed;
	border-left-style: dashed;
	border-right-color: white;
	border-left-color: white;
	border-bottom-color: white;
	border-top-color: white;
	border-bottom-style: dashed;
	border-top-style: dashed;
	color: #9eb839;
	text-align: center;
	text-decoration: none;
}

#linkinbox {
	padding: 5px;
	margin-bottom: auto;
	margin-top: auto;
	color: inherit;
	margin-right: auto;
	margin-left: auto;
	font-size: 20px;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	text-align: center;
	height: 50px;
	width: 200px;
	text-decoration: none;
}

span {
	color: #9eb839;
	font-style: italic;
	text-transform: none;
}

